<!DOCTYPE html>
<html>

<head>
    <title> Weather </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p> Use this site to get your weather!</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p >  <b id="message-1"></b> <small class="unit" id="message-c"></small></p>
        <p> <div id="message-2"> </div>   <div id="message-c" ></div>   </p>
        <p id="message-h"> </p>
        <p id="message-p"> </p>
        <p id="message-u" class="unit">Temperature unit (°C) </p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>


</html>